@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Fira+Sans:400,400i');

.remark-slide-content {
  font-size: 130%; /*25px;*/
}
.remark-slide-number {
  font-size: 20px;
}
body {
  font-family: 'Fira Sans Condensed', 'Fira Sans', 'Droid Serif', 'Computer Modern Sans', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', 'Computer Modern Sans';
  font-weight: normal;
  color: #0c5999;
}
a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 85%;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
.remark-code-line-highlighted     { background-color: #ffff88; }
.remark-inline-code{
  background: #f8f8f8;
  /* background: #F5F5F5; /* lighter */
  /* background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
  font-size: 85%;
}

/* To increase presentation notes size */
.remark-notes-area {
    font-size: 120%; /*25px;*/
}

/* Leaflet map controls */
.leaflet-container {
    font: 20px 'Yanone Kaffeesatz', 'Computer Modern Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.info {
    font: 18px 'Yanone Kaffeesatz', 'Computer Modern Sans', Arial, Helvetica, sans-serif;
}


/*
NOTE: Inverse class determines look of title slide, unless otherwise specified by manual .title-slide class. See below.
See: https://github.com/pat-s/xaringan/blob/32e42628673f580fa737059164cb3c66c0178772/vignettes/css-modifications.Rmd
*/

/*
.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
  line-height: 1.0em;
}
*/
.inverse {
  background-color: #ffffff;
  color: #ffffff;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #0c5999;
  line-height: 1.0em;
}

/* Title slide */

.title-slide {
  background-image: url(../pics/ais-density-cropped.png);
  background-size: cover;
}

.title-slide h1 {
  /*line-height: 3em;*/
  color: #FFFFFF; /*#4EB3D3;*/ /*#0c5999;*/
}
.title-slide h2, .title-slide h3 {
  color: #FFFFFF; /*#f3f3f3;
  /*line-height: 1.5em;*/
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47.5%;
}
.pull-right {
  float: right;
  width: 47.5%;
}
.pull-right ~ * {
  clear: both;
}
img {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
